/* Stylowanie kontenera galerii */
.ImageSlider {
  width: 20%; /* Zmniejsza szerokość kontenera */
  max-width: 300px; /* Maksymalna szerokość kontenera */
  margin: 0 auto; /* Wyrównuje kontener na środku */
  background-color: #ffffff42; /* Utrzymuje biały kolor tła */
  padding: 20px; /* Możesz dostosować to, jeśli chcesz mieć większe przerwy wewnątrz */
  border-radius: 10px; /* Zaokrąglone rogi kontenera */
  box-shadow: 0 4px 8px rgba(204, 196, 196, 0.493); /* Cień wokół kontenera */
}

/* Stylowanie kontenera slidera */
.slider-container {
  position: relative;
  width: 100%; /* Zmieniamy szerokość, żeby kontener slidera pasował do rodzica */
  max-width: 600px; /* Maksymalna szerokość */
  margin: 0 auto;
  text-align: center;
}

/* Stylowanie obrazków w sliderze */
.slider-image {
  width: 100%; /* Ustawiamy szerokość na 100% kontenera */
  height: 500px; /* Ustalona wysokość dla wszystkich obrazów */
  object-fit: cover; /* Obraz będzie skalowany, aby wypełnić kontener */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Stylowanie przycisków nawigacyjnych */
.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(238, 203, 248, 0.5);
  color: white;
  font-size: 20px; /* Zmniejszenie rozmiaru czcionki */
  border: none;
  padding: 8px; /* Zmniejszenie paddingu */
  cursor: pointer;
  border-radius: 50%;
}

.prev-btn {
  left: 10px; /* Zmniejszenie odległości od lewej */
}

.next-btn {
  right: 10px; /* Zmniejszenie odległości od prawej */
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(243, 243, 243, 0.5);
}
